<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="ent"
            description="Entity"
            language="Entity"
            derivedFrom="DynamicRoot"
            validator="Kamila.EntityValidator"
            validatorClass="Kamila.EntityValidator"
      ></language>
   </extension>
   <extension
         id="Kamila.parser"
         name="Entity Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="Kamila.EntityParseController"
            language="Entity">
      </parser>
   </extension>    
</plugin>
